<form
  (ngSubmit)="salvar()"
  [formGroup]="formGroup"
>

  <label for="titulo">
    Título
  </label>
  <br />
  <input
    pInputText
    formControlName="titulo"
    id="titulo"
    type="text"
  />

  <br />
  <br />

  <label for="descricao">
    Descrição
  </label>
  <br />
  <input
    pInputText
    id="descricao"
    formControlName="descricao"
    type="text"
  />

  <br />
  <br />

  <label for="imagem">
    Imagem (URL)
  </label>
  <br />
  <input
    pInputText
    id="imagem"
    formControlName="imagem"
    type="text"
  />

  <br />
  <br />

  <div class="inline-block my-5 p-6 bg-white">
    <img
      [artigariaSrcDebounce]="formGroup.controls.imagem.value"
      alt="Imagem que será carregada na lista de artigos"
      class="shadow-8"
    />
  </div>

  <br />
  <br />

  <label for="url">
    URL
  </label>
  <br />
  <input
    pInputText
    id="url"
    formControlName="url"
    type="text"
  />

  <br />
  <br />

  <button
    pButton
    type="submit"
    icon="pi pi-save"
    label="Salvar"
  >
  </button>

</form>
