<form
>

  <label for="titulo">
    Título
  </label>
  <br />
  <input
    pInputText
    id="titulo"
    type="text"
  />

  <br />
  <br />

  <label for="descricao">
    Descrição
  </label>
  <br />
  <input
    pInputText
    id="descricao"
    type="text"
  />

  <br />
  <br />

  <label for="imagem">
    Imagem (URL)
  </label>
  <br />
  <input
    pInputText
    id="imagem"
    type="text"
  />

  <br />
  <br />

  <label for="url">
    URL
  </label>
  <br />
  <input
    pInputText
    id="url"
    type="text"
  />

  <br />
  <br />

  <button
    pButton
    type="submit"
    icon="pi pi-save"
    label="Salvar"
  >
  </button>

</form>
