<p-card
  *ngFor="let artigo of (artigos$ | async)"
  header="{{ artigo.titulo }}"
  [style]="{width: '360px'}"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <img
      [attr.alt]="artigo.descricao"
      src="{{ artigo.imagem }}"
    />
  </ng-template>
  <p>
    {{ artigo.descricao }}
  </p>
  <ng-template pTemplate="footer">
      <p-button
        label="Save"
        icon="pi pi-check"
      >
      </p-button>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
      >
      </p-button>
  </ng-template>
</p-card>
